@tailwind base;
@tailwind components;
@tailwind utilities;

.emoji-3d {
  text-shadow: 1px 1px 1px #ffffff55, 2px 2px 2px #fffdfd33;
  cursor: pointer;
  min-width: 20px;
  transition: all;
  transition-duration: 400ms;
  transition-property: all;
}

.emoji-3d:hover {
  transform: scale(1.5);
}

@keyframes emoji-appear {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes reaction-pop {
    0% {
      transform: scale(1.2);
      opacity: 0.5;
    }
    50% {
      transform: scale(1.5);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes popup {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

  
  .animate-reaction {
    animation: reaction-pop 0.3s ease-in-out forwards;
  }
  

.scrollbar {
  scrollbar-color: #2e343d transparent;
  scrollbar-width: thin;
}
.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}
.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
  opacity: 0;
}
.scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: #2e343d;
  opacity: 1;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 8px !important;
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #ffffff3b;
}

.glass-effect {
  background: rgba(0, 0, 0, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}
